*{
    margin: 0;
    padding: 0;
    
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image/image\ 2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1358px;
    height: 75px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    margin: auto;
}

.iconn{
    width: 290px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 50px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 650px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 25px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
.login a {
    width: 150px;
    height: 36px;
    position: absolute;
    top: -10px;
    left: 1080px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 4px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    transition: 0.4s ease;
}

.login a:hover {
    background-color: #dfe1e7;
    color: #000000;
}
body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image/image\ 2.jpg);

}
